<div class="container col-sm-3 card bg-light p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Add Word</legend>
    </fieldset>
    <div class="form-group">
      <label class="form-label">Word</label>
      <input class="form-control" formControlName="word" />
      <span class="text-danger" *ngIf="this.form.get('word')?.touched && this.form.get('word')?.invalid">
        <p *ngIf="this.form.get('word')?.hasError('required')">Word required</p>
      </span>
    </div>

    <div class="form-group">
      <label class="form-label">Description</label>
      <div class="btn-group" role="group">
        <button type="button" (click)="onBold()" class="btn btn-outline-dark"><b>N</b></button>
        <button type="button" (click)="onItalics()" class="btn btn-outline-dark"><i>I</i></button>
        <button type="button" (click)="onSubs()" class="btn btn-outline-dark"><sub>S</sub></button>
      </div>
      <textarea class="form-control" formControlName="description" rows="3"></textarea>
      <!-- <div id="textarea" class="form-control" formControlName="description" contenteditable>{{form.get('description')?.value}}</div> -->
      <span class="text-danger" *ngIf="this.form.get('description')?.touched && this.form.get('description')?.invalid">
        <p *ngIf="this.form.get('description')?.hasError('required')">Description required</p>
      </span>
    </div>


    <button class="btn btn-info mt-3" type="submit">{{btnTypeForm}}</button>&nbsp;
    <a class="btn btn-link mt-3" routerLink="../../../category">Cancel</a>
  </form>
</div>
