<div class="container col-sm-3 card bg-light p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Recovery password</legend>
    </fieldset>

    <div class="form-group">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" formControlName="email" placeholder="Write email that belongs to your account"/>
      <span class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <p *ngIf="form.get('email')?.hasError('email')">Invalid email</p>
        <p *ngIf="form.get('email')?.hasError('required')">Email required</p>
      </span>
    </div>

    <input class="btn btn-dark mt-2" [disabled]="btnDisabled" type="submit" />
  </form>
  {{message}}
</div>
