<p>password-recovery works!</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="password">Password</label>
    <input type="password" formControlName="password"/>
    <span *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <p *ngIf="form.get('password')?.hasError('required')">Password required</p>
        <p *ngIf="form.get('password')?.hasError('minlength')">At least 8 characters length</p>
    </span>

    <label for="confirmPassword">Confirm password</label>
    <input type="password" formControlName="confirmPassword"/>
    <span *ngIf="form.get('confirmPassword')?.touched && form.errors">
        <p *ngIf="form.get('confirmPassword')?.hasError('required')">Password required</p>
        <p *ngIf="form.hasError('match_passwords')">Passwords does not match</p>
    </span>

    <button [disabled]="btnDisabled" type="submit">Change password</button>
</form>
{{message}}