<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" [routerLink]="['profile',user.id]">Profile</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="category">Categories</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="question/categories">Questions</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <button class="nav-link" (click)="logout()" class="nav-link">Log out</button>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="auth/login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <a routerLink="">Home</a>&nbsp;
    <span *ngIf="user">
        <a [routerLink]="['profile',user.id]">Profile</a>&nbsp;
        <a routerLink="category">Categories</a>
        <span>Hello {{user.name}}</span>
        <button (click)="logout()">Logout</button>
    </span>

    <a *ngIf="!user" routerLink="auth/login">
        Log in
    </a> -->

</nav>
