<div class="container col-sm-3 ">
  <span *ngIf="user; else noUser">
    <div class="list-group">
      <a class="list-group-item list-group-item-action active">{{user.name}} {{user.lastname}}
        <span *ngIf="allowEdit">
          <a class="btn btn-secondary" [routerLink]="['../edit',id]">Edit</a>
        </span></a>
      <a class="list-group-item list-group-item-action">Email {{user.email}}</a>
      <a class="list-group-item list-group-item-action">Since {{user.createdAt | date:'short'}}</a>
    </div>
  </span>

  <ng-template #noUser>
    No user
  </ng-template>
</div>
