<a [routerLink]="['/create', categoryId]">New questionary</a>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">
      <div *ngFor="let question of questions">
          <app-dynamic-form-question
              [question]="question"
              [form]="form"></app-dynamic-form-question>
      </div>

      <div>
          <button type="submit" [disabled]="form.invalid">Submit</button>
      </div>
  </form>

  <div *ngIf="payload">
      <strong>Saved the following values<br>{{payload}}</strong>
  </div>
</div>
