<div class="container col-sm-3 card bg-light p-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Create account</legend>

      <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" formControlName="name" />
        <span *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <p class="text-danger" *ngIf="form.get('name')?.hasError('required')">Name required</p>
        </span>
      </div>

      <div class="form-group">
        <label class="form-label">Lastname</label>
        <input class="form-control" type="text" formControlName="lastname" />
        <span *ngIf="form.get('lastname')?.touched && form.get('lastname')?.invalid">
          <p class="text-danger" *ngIf="form.get('lastname')?.hasError('required')">Lastname required</p>
        </span>
      </div>

      <div class="form-group">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" />
        <span *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <p class="text-danger" *ngIf="form.get('email')?.hasError('required')">Email required</p>
        </span>
      </div>

      <div class="form-group">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" formControlName="password" />
        <span *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          <p class="text-danger" *ngIf="form.get('password')?.hasError('required')">Password required</p>
          <p class="text-danger" *ngIf="form.get('password')?.hasError('minlength')">At least 8 characters length</p>
        </span>
      </div>

      <span class="d-grid mt-3">
        <button class="btn btn-outline-primary" type="submit">Register</button>
      </span>

    </fieldset>

  </form>

</div>
